{% extends "layout.html" %}
{% load tz %}

{% block twitter_card_title %}{{ event.start }} {{ event.name|capfirst }}{% endblock %}
{% block twitter_card_description %}{{ event.short_description|capfirst }}{% endblock %}
{% block page_title %}{{ event.start }} {{ event.name|capfirst }}{% endblock %}


{% block body %} 

<div class="py-5">
    <div class="container">
        
            <div class="row">
                    <div class="col-md-8 mb-2">
                        {% timezone "America/New_York" %}
                        <p>Starts: <span class="date">{{ event.start }}</span> - Ends: <span class="date">{{ event.end }}</span></p>
                        {% endtimezone %}
                    </div>
            </div>
        
        <div class="row">
                <div class="col-md-8 mb-2">
                    <h3>{{ event.name|capfirst }}</h3>
                    <p><a href="{% url 'event-invite' pk=event.pk %}">Add to calendar</a></p>
                </div>
        </div>

        <div class="row">
                <div class="col-md-8">
                    <p>{{ event.description|safe }}</p>
                </div>
        </div>

        <div class="row">
                <div class="col-md-8">
                    <p><a href="{% url 'location' slug=event.location.slug pk=event.location.pk %}">Location: {{ event.location.name|capfirst }}</a></p>
                    {{ event.location.map_embed_code|safe }}
                </div>
        </div>

    </div>
</div>

{% endblock %}