<div class="container">
        <div class="row">
                
                <ul class="list-inline">
                        <li class="list-inline-item">
                              <a href="https://www.meetup.com/python-atlanta/">
                                 {% include "icons/meetup-icon.html" %}
                              </a>
                        </li>

                        <li class="list-inline-item">
                              <a href="https://twitter.com/pyatl">
                                 {% include "icons/twitter-icon.html" %}
                              </a>
                        </li>

                        <li class="list-inline-item">
                              <a href="https://www.linkedin.com/groups/37441">
                                    {% include "icons/linkedin-icon.html" %}
                              </a>
                        
                        </li>

                        <li class="list-inline-item">
                              <a href="https://facebook.com">
                                    {% include "icons/facebook-icon.html" %}
                             </a>               
                        </li>
                </ul>
               
        </div>
</div>
