# Random key value. See django.core.management.utils.get_random_secret_key
DJANGO_SECRET_KEY=<YOUR SECRET KEY HERE>
# Database connection string. 
# See your database driver's documentation for examples
DATABASE_URL=<YOUR DATABASE URL>
# Uncomment to run DEBUG mode locally
#DJANGO_DEBUG=TRUE
# Uncomment to run locally without HTTPS 
#DJANGO_DISABLE_SSL=True
