{% extends "registration/registration_base.html" %}
{% load i18n %}
{%load crispy_forms_tags%}


{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row ">
		<div class="
			col-xs-12 
			col-sm-10 col-sm-push-1
			col-md-6 col-md-push-3 
			col-lg-6 col-lg-push-3
			" > 
			<h2 class="centrd bigger">Password Reset</h2>
			<p>
			    {% blocktrans %}
			    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
			    {% endblocktrans %}
			</p>
			<form method="post" action="">
			    {% csrf_token %}
			 {{ form | crispy }}
			    <input class="btn btn-primary btn-xs" type="submit" value="{% trans 'Reset password' %}" />
			</form>
			{%include 'footer.html' %}
		</div>
	</div>
</div>
{% endblock %}

{# This is used by django.contrib.auth #}
