{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row ">
    <div class="
		col-xs-12
		col-sm-10 col-sm-push-1
		col-md-8 col-md-push-2
		col-lg-8 col-lg-push-2
		" >
      <h2 class="bigger">Sessions</h2>

      {%for s in sessions%}
      <div class="panel panel-default shadow">
	<!-- Default panel contents -->
	<div class="panel-heading"><h3><a href={{s.get_absolute_url}}> Thurs. {{s.date}}</a></h3></div>
	{% include "talks/session-content.html" with talks=s.talks_available.all %}
      </div>
      {%endfor%}
      {% include 'footer.html'%}
    </div>
  </div>
</div>
{%endblock%}
