{% extends "base.html" %}
{%load crispy_forms_tags%}

{% block content %}

<div class="container">
	<div class="row ">
		<div class="
			col-xs-12 
			col-sm-10 col-sm-push-1
			col-md-6 col-md-push-3 
			col-lg-6 col-lg-push-3
			" > 
			<!-- pushed to center -->
		
			{% if request.user.is_authenticated %}

			<h2 class="centrd bigger">Submit a Talk Proposal</h2>
			<form action="." method="POST">
				    {% csrf_token %}
				    <table>
				     {{ form | crispy  }}
				    </table>
				    <button class="btn btn-primary btn-xs" type="submit" value="Submit" >Submit</button>
			</form>

			{%else%}

				
				<h4 style="font-size: 30px;text-align:center;color: #005580; text-shadow: 0 0 50px #669996; ">
				A verified email is required to submit a talk propasal, and you must be logged in. 
				<br> 
				Please <a href="{% url 'registration_register' %}">Register</a> 
				or <a href="{% url 'auth_login'%}">Login</a>.</h4>
				<br>
				<a href="#" onClick="history.go(-1);return true;">Back</a>
				<hr>

			{%endif%}

			{% include 'footer.html'%}

		</div>
	</div>
</div>

{% endblock %}